@import url("https://fonts.googleapis.com/css?family=Manrope");

* {
  padding: 0;
  margin: 0;
  background-color: hsl(218, 23%, 16%);
}

body {
  max-width: 1440px;
  width: 100%;
}

.container {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.advice-box {
  height: 350px;
  width: 440px;
  background: fixed;
  background-color: hsl(217, 19%, 24%);
  display: block;
  text-align: center;
  border-radius: 20px;
}

#advice-p-tag {
  color: hsl(193, 38%, 86%);
  width: 385px;
  /* display: flex; */
  /* justify-content: center; */
  font-family: Manrope;
  font-weight: 800;
  font-size: 28px;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
}

#advice-id-text {
  letter-spacing: 3px;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  font-family: Manrope;
  color: hsl(150, 100%, 66%);
  font-size: 12px;
  font-weight: bold;
}

img#desktop-divider {
  position: absolute;
  top: 80%;
  left: 50%;
  width: 360px;
  transform: translate(-50%, -50%);
  background-color: transparent;
}

#advice-generator {
  background-color: hsl(150, 100%, 66%);
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border-color: transparent;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#advice-generator:hover{
    box-shadow:  0 5px 25px hsl(150, 100%, 66%);
    cursor: pointer;
}

#icon-dice {
  background-color: transparent;
  width: 35px;
}

#footer {
  position: fixed;
  bottom: 5px;
  width: 100%;
  text-align: center;
}

.attribution {
  font-size: 0.75em;
  text-align: center;
  color: hsl(193, 38%, 86%);
}

.attribution a {
  color: hsl(193, 38%, 86%);
}

@media (max-width: 375px) {
  .container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  img#desktop-divider {
    position: absolute;
    top: 80%;
    left: 50%;
    width: 240px;
    transform: translate(-50%, -50%);
    background-color: transparent;
  }
  #advice-id-text {
    letter-spacing: 3px;
    position: fixed;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    font-family: Manrope;
    color: hsl(150, 100%, 66%);
    font-size: 15px;
    font-weight: bold;
  }
  .advice-box {
    height: 380px;
    width: 270px;
    background: fixed;
    background-color: hsl(217, 19%, 24%);
    display: block;
    text-align: center;
    border-radius: 20px;
  }
  #advice-p-tag {
    color: hsl(193, 38%, 86%);
    width: 255px;
    /* display: flex; */
    /* justify-content: center; */
    font-family: Manrope;
    font-weight: 800;
    font-size: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
  }
}
